:root{
	--font: Arial, Helvetica, sans-serif;
	--font-size-1: 0.813rem; /* 13px */
	--font-size-2: 0.875rem; /* 14px */
	--font-size-3: 0.938rem; /* 15px */ 
	--font-size-4: 1rem; /* 16px */
	--font-size-5: 1.125rem; /* 18px */
	--font-size-6: 1.25rem; /* 20px */
	--font-size-7: 1.3rem; /* 20.8px */
	--font-size-8: 1.5rem; /* 24px */
	--font-size-9: 1.563rem; /* 25px */
	--font-size-10: 2.813rem; /* 45px */
	--font-weight: 700;
	--font-color-head: rgb(255,255,255);
	--font-color-para: rgb(0,0,0);
	--font-color-list-item: rgb(39,39,241);	
	--font-color-footer-list-item: rgb(149,135,127);
	--border-color: rgb(210,105,30);
	--theme-color: rgb(171,24,61);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font);
}
/* Header Start*/
#container1{
	width: 1020px;
	padding: 5px;
	margin: 0px auto;
}
#header{
	background: var(--theme-color);
	color: var(--font-color-head);
	height: 175px;
	display: flex;
	align-items: center;
	text-align: center;
}
.logo{
	width: 20%;
}
.brand{
	font-weight: var(--font-weight);
	width: 70%;
	line-height: 35px;
}
.brand-name{
	font-size: var(--font-size-10);
}
.brand-web{
	font-size: var(--font-size-5);
}
/* Header End*/

/* Nav Start*/
#nav{
	height: 50px;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}
.nav-items{
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-top: 0px;
}
.nav-items a{
	display: block;
	color: var(--font-color-head);
	font-size: var(--font-size-2);
	text-decoration: none;
	padding: 17px;
}
/* Nav End*/


/* Tag Start*/
#tag{
	text-align: center;
	font-weight: var(--font-weight);
}
.first-tag{
	font-size: var(--font-size-6);
	margin: 10px 0px;
}
.second-tag{
	margin: 10px 0px;
	font-size: var(--font-size-3);
}
.second-tag-1{
	color: #FF0000;
}
.second-tag-2{
	color: #008000;
}
/* Tag End*/


/* Marquee Start*/
#marquee{
	text-align: center;
}
#marquee a{
	font-size: var(--font-size-4);
	color: var(--font-color-list-item);
	font-weight: var(--font-weight);
}
.marquee{
	margin: 2px 0px;
}
/* Marquee End*/


/* Social Btn Start*/
#social-btn{
	text-align: center;
	margin: 10px 0px;
}
.social-btn-1 a{
	font-size: var(--font-size-1);
	color: var(--font-color-head);
	padding: 3px 6px;
	background: rgb(29,155,240);
	border-radius: 10px;
	text-decoration: none;
}
.social-btn-2{
	margin-top: 15px;
}
.social-btn-2 a{
	color: var(--font-color-head);
	font-weight: var(--font-weight);
	font-size: var(--font-size-8);
	background: rgb(0,0,160);
	padding: 6px 20px 8px 20px;
}
/* Social Btn End*/


/* Top Link Start*/
#top-links{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: 20px 0px;
}
#top-links div{
	width: 250px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
}
#top-links a{
	color: var(--font-color-head);
	font-size: var(--font-size-7);
	font-weight: var(--font-weight);
}
.top-link-1{
	background: #868a08;
}
.top-link-2{
	background: #0404b4;
}
.top-link-3{
	background: #fb5e03;
}
.top-link-4{
	background: #8c0101;
}
.top-link-5{
	background: #fb0303;
}
.top-link-6{
	background: #0b610b;
}
.top-link-7{
	background: #ff00bf;
}
.top-link-8{
	background: #0080ff;
}
#top-links a{
	text-decoration: none;
}
/* Top Link End*/


/* Content Start*/
#content{
	display: flex;
	flex-wrap: wrap;
}
#content .content-head{
	font-size: var(--font-size-9);
	text-align: center;
	background: var(--theme-color);
	padding: 5px 0px;
}
#content .content-head a{
	color: var(--font-color-head);
	text-decoration: none;
}
#content .box1{
	display: flex;
	justify-content: space-between;
	height: 1450px;
	width: 100%;
	padding: 20px;
}
#content .box1 > div,
#content .box2 > div,
#content .box3 > div{
	width: 300px;
	border: 2px solid var(--border-color);
}
#content ul{
	margin-left: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 93%;
}
#content a{
	font-size: var(--fonti-size-4);
	color: var(--font-color-list-item);
}
#content .view-more{
	align-self: flex-end;
	color: rgb(82,0,160);
	font-weight: var(--font-weight);
}
#content .box2{
	width: 66%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	padding-right: 10px;
}
#content .box2 > div{
	height: 325px;
}
#content .certificate,
#content .important{
	margin-top: 20px;
}
#content .box3{
	display: inline;
	padding: 20px;
}
#content .box3 > div{
	height: 670px;
	
}
/* Content End*/


/* Faq Start*/
#faq{
	min-width: 1020px;
	max-width: 74%;
	margin: 0px auto;
	border: 2px solid var(--border-color);
}
#faq .box{
	text-align: center;
}
#faq .faq-head{
	font-size: var(--font-size-9);
	background: var(--theme-color);
	padding: 5px 0px;
	color: var(--font-color-head);
	text-decoration: none;
	font-weight: var(--font-weight);
	padding: 5px 20px;
}
#faq .faq-desc{
	padding: 20px;
	font-size: var(--font-size-4);
}
#faq .faq-desc{
	line-height: 20px;
}
#faq #imp{
}
#faq #imp .faq-desc-head{
	font-weight: var(--font-weight);
}
#faq #imp .faq-desc-points{
	font-weight: var(--font-weight);
}
/* Faq End*/


/* Footer Start*/
#container2{
	min-width: 1020px;
	max-width: 74%;
	margin: 0px auto;
}
#footer{
	height: 320px;
	display: flex;
	padding: 30px 20px 10px ;
	clear: both;
}
#footer a{
	text-decoration: none;
	margin: 5px 0px 0px;
}
#footer .box1{
	width: 25%;
}
#footer .box1 li,
#footer .box2 li{
	margin-top: 5px;
}
#footer .box2{
	width: 25%;
}
#footer .box3{
	width: 50%;
}
.foot-list{
	height: 50%;
	display: flex;
	flex-wrap: wrap;
}
.foot-list li{
	width: 33%;
}
.foot-head{
	font-weight: var(--font-weight);
	font-size: var(--font-size-7);
	margin-bottom: 10px;
}
#footer ul{
	list-style: none;
}
#footer ul li a{
	color: var(--font-color-footer-list-item);
	font-size: var(--font-size-1);
}
/* Footer End*/